<div class = Container>
    <div class = "title">
        Is Your Pet a Dog or Cat?
    </div>
    <div class = "Action-container">
    <div class = "Instructions">
        Please choose an image from your computer to upload
    </div>
    <div class = "choose-file">
    <input type="file" accept="image/*" (change)="onFileSelected($event)">
    </div>
    <img class = "image" [src]="url" alt="uploaded-image">
    <div class = "Buttons">
    <button (click)="onUpload()">
        Submit Image
    </button>
    </div>      
    <div class = "Response-container">
        You have submitted an image of a: cat
    </div>
</div>
