<div class = Container>
    <div class = "title">
        Is Your Pet a Dog or Cat?
    </div>
    <div class = "Action-container">
    <div class = "Instructions">
        Please choose an image from your computer to upload
    </div>
    <div class = "choose-file">
    <input type="file" (change)="onFileSelected($event)">
    </div>
    <div class = "Picture"></div>
    <div class = "Buttons">
    <button>
        Submit Image
    </button>
    </div>      
    <div class = "Response-container">
        You have submitted an image of a: homosexual
    </div>
</div>
