<div class="Container">
    <div class = "title">Log In</div>
    <div class = "login-container">
        <div class = "enter">
        <label>Enter your email and password:</label>
        </div>
        <br>
        <div class = "login-input">
        <div>Email</div>
        <input type="text" id="email" name="email">
        <br>
        <div>Password</div>
        <input type="text" id="password" name="password">
        <br>
        <button (click)="onLogin()">Login</button>
        </div>
        <div class = "register">
        <div class = "register-label">
            Don't have an account?
        </div>
        <button (click)="onRegister()">Register</button>
    </div>
    </div>
</div>
