<div class="Container">
    <div class = "title">Register</div>
    <div class = "register-container">
        <div class = "enter">
        <label>Enter Your Registration Credentials:</label>
        </div>
        <br>
        <div class = "register-input">
        <div>Username</div>
        <input type="text" id="username" name="username">
        <br>
        <div>Email</div>
        <input type="text" id="email" name="email">
        <br>
        <div>Password</div>
        <input type="text" id="password" name="password">
        <br>
        
        <button (click)="onRegisterSubmit()">Register</button>
        </div>
    </div>
</div>